nav
    ul
        each navItem in navigation
            li
                if currentUrl === navItem.url
                    span #{navItem.title}
                else
                    a(href=navItem.url, title=navItem.title) #{navItem.title}
                    
