doctype html
html(lang="de")
    head
        link(rel='stylesheet', href='/static/css/test.css')
        block head
    body
        block body
            header
                include ../partials/_header.jade
            article
                block content
            footer
                include ../partials/_footer.jade