doctype html
html(lang="de")
    head
        include ../partials/_head.jade
    body
        block body
            header
                include ../partials/_header.jade
            article
                block content
            footer
                include ../partials/_footer.jade
        include ../partials/_body-end.jade