doctype html
html(lang="de")
    head
        block head
    body
        block body
            header
                include ../partials/_header.jade
            article
                block content
            footer
                include ../partials/_footer.jade